* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.cast-container {
  position: absolute;
  top: 120px;
  background-color: rgb(240, 212, 5);
  margin-left: 10px;
  height: 570px;
  width: 740px;
}
li {
  position: relative;
  margin-top: 100px;
  margin-left: 30px;
  font-size: 30px;
}

.crew-container {
  color: white;
  position: absolute;
  top: 120px;
  margin-left: 785px;
  background-color: rgb(8, 14, 97);
  height: 570px;
  width: 740px;
}
.page-header {
  font-family: "arial";
  text-align: center;
  display: block;
  font-size: 2em;
}

.cast-heading {
  position: absolute;
  left: 370px;
  font-family: "arial";
  font-size: 30px;
  margin-top: 15px;
}

.crew-heading {
  position: absolute;
  left: 370px;
  font-family: "arial";
  font-size: 30px;
  margin-top: 15px;
}

/*!........................................NAVBAR................................................*/

.topnav {
  background-color: lightgrey;
  overflow: hidden;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: grey;
  color: white;
}

.topnav a.active {
  background-color: orange;
  color: white;
}
nav {
  font-family: Arial;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
